{% extends "wanga/base.html" %}

{% load staticfiles %}

{% block content%}

<div class="container-fluid">
    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">About</h2>
                </div>
                <div class="panel-body">
                    <div class="jumbotron">
    				 	<div class="page-header">
    						<h2>Nossa ideia</h2>
    					</div>

    				 	<p>Na wanga acreditamos na capacidade e de cada um para atingir os seus objetivos. Para isso oferecemos aulas de danças de diferentes ritmos e níveis assim como um programa para quem quer seguir como profissional:</p>
    					<ul>
    						<li>
    							<h3>Dance in time:</h3> <p>é um programa de aulas de dança voltado para pessoas que querem experimentar algum estilo de dança. O dance in time reúne estilos como: zouk, salsa, bachata, kizomba, maxixe, pagode, samba. Estas aulas tem uma carga horária definida e o aluno pode se inscrever em uma ou mais modalidades naquele período de tempo. </p>
    						</li>
    						<li>
    							<h3>Wanga Dancers Team:</h3> <p>Estritamente voltado para pessoas que desejam ser nossos monitores, ou fazer parte da nossa equipe.</p>
    						</li>
    					</ul>

    				</div>

                </div>
            </div>


        </div>

    </div>
</div>

{% endblock%}
