{% extends "wanga/base.html" %}

{% load staticfiles %}

{% block content%}

<div flex="70" layout="column" flex-offset="15">

<!-- contanct form -->
    <div flex="50" style="margin-top:3em; margin-bottom:4em">

        <md-card>
			<md-card-header>

				<md-card-header-text>
					<span class="md-title"> Nossa ideia </span>
			      	<span class="md-subhead">Sua vida com muito mais curtição</span>
			    </md-card-header-text>
			</md-card-header>

    		<md-card-content>
                <p>Na wanga acreditamos na capacidade e de cada um para atingir os seus objetivos. Para isso oferecemos aulas de danças de diferentes ritmos e níveis assim como um programa para quem quer seguir como profissional:</p>
                <ul>
                    <li>
                        <h3>Dance in time:</h3> <p>é um programa de aulas de dança voltado para pessoas que querem experimentar algum estilo de dança. O dance in time reúne estilos como: zouk, salsa, bachata, kizomba, maxixe, pagode, samba. Estas aulas tem uma carga horária definida e o aluno pode se inscrever em uma ou mais modalidades naquele período de tempo. </p>
                    </li>
                    <li>
                        <h3>Wanga Dancers Team:</h3> <p>Estritamente voltado para pessoas que desejam ser nossos monitores, ou fazer parte da nossa equipe.</p>
                    </li>
                </ul>
  			</md-card-content>

		</md-card>

    </div>

</div>

{% endblock%}
