{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static "components/webcomponentsjs//webcomponents.js" %}"></script>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> {% block title %} Wanga Inc{% endblock %}</title>
    <script src="{% static "js/jquery.js" %}"></script>
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/carousel.css" %}">
    <link rel="import" href="{% static "custom/login-form.html" %}">
    <link rel="import" href="{% static "components/paper-header-panel/paper-header-panel.html" %}">
    <link rel="import" href="{% static "components/paper-tabs/paper-tabs.html" %}">
    <link rel="import" href="{% static "components/font-roboto/roboto.html" %}">
    <link rel="import" href="{% static "custom/register-form.html" %}">
    <link rel="import" href="{% static "custom/curso-list.html" %}">
    <link rel="import" href="{% static "custom/curso-card.html" %}">
    <link rel="import" href="{% static "custom/curso-exp.html" %}">
    <link rel="import" href="{% static "custom/curso-turma.html" %}">
    <link rel="import" href="{% static "custom/turma-card.html" %}">
    <link rel="import" href="{% static "custom/turma-detail.html" %}">
   
    
  </head>
  <body>
  <!--  <div class="navbar-wraper" style="margin-top:20px;"> 
    <div class="container"> -->

            <nav class="navbar navbar-inverse" >
                <div class="container-fluid">
                    <div class="navbar-header" >
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="/index"><img alt="Wanga" class="img-circle img-responsive" src="{% static "image/wanga.jpg" %}" style="height:30px;width:35px; margin:auto;" ></a>
                        
                    </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li> <a href="/index" style="background:blue;padding:auto;margin:3px;">Home</a> </li>
                                <li> <a href="/cursos" style="background:blue;padding:auto;margin:3px;">Cursos</a> </li>
                              <!--  <li> <a href="/eventos" style="background:blue;padding:auto;margin:3px;">Events</a> </li> -->
                                
                                
                              <!--  <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">                                                Mídia <span class="caret"></span> </a>
                                    <ul class="dropdown-menu">
                                        <li> <a href="/gal/galeria">Galeria</a> </li>
                                        <li> <a href="/videos">Videos</a> </li>
                                        
                                    </ul>
                                </li> -->
                                
                            </ul>
                            


                            <ul class="nav navbar-nav navbar-right">
                                <li> <a href="#" style="display:none;">Loja</a> </li>
                                {% block authuser%} 
                                    {% if user.is_authenticated%}
                                    <li class="dropdown" >
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">                           Profile <span class="caret"></span> </a>
                                        <ul class="dropdown-menu">
                                            <li> <a href="/conta/profile">{{user.username}}</a> </li>
                                            <li> <a href="/conta/logout/">Sair</a> </li>
                                            
                                        </ul>
                                    </li>
                                
                                
                                {% else %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">                                                |User <span class="caret"></span> </a>
                                        <ul class="dropdown-menu">
                                       
                                            
                                            <li> <a href="/conta/register">Register</a> </li>
                                            <li> <a href="/conta/login_page/">Entrar</a> </li>
                                       
                                       
                                        </ul>
                                    </li>
                                {% endif %}



                                {% endblock%}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">                                               Info <span class="caret"></span> </a>
                                    <ul class="dropdown-menu">
                                        <li> <a href="/contact">Contatos</a> </li>
                                        <li> <a href="/about">About</a> </li>
                                        
                                    </ul>
                                </li>

                            </ul>
                        </div>

                </div>
                
            </nav>
      
{% block content%}
      
{% endblock %}


    

    <div id="footer" class="container" style=" height:200px;">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a href=""><button type="button" class="btn btn-default btn-primary">Facebook </button> </a>
            </div>
            <div class="btn-group" role="group">
                <a href=""><button type="button" class="btn btn-default btn-twitter">Twitter </button> </a>
             </div>
            <div class="btn-group" role="group">
                <a href=""><button type="button" class="btn btn-default btn-primary">Facebook </button> </a>
            </div>
        </div>

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Left</button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Middle</button>
             </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">Right</button>
            </div>
        </div>

    
</div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.js" %}"></script>
  </body>
</html>
