{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static "components/webcomponentsjs//webcomponents.js" %}"></script>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> {% block title %} Wanga Inc{% endblock %}</title>
    
    <!-- Components -->
    <link rel="import" href="{% static "components/iron-flex-layout/classes/iron-flex-layout.html" %}">
    <link rel="import" href="{% static "components/iron-collapse/iron-collapse.html" %}">
    <link rel="import" href="{% static "components/paper-header-panel/paper-header-panel.html" %}">
    <link rel="import" href="{% static "components/paper-toolbar/paper-toolbar.html" %}">
    <link rel="import" href="{% static "components/paper-icon-button/paper-icon-button.html" %}">
    <link rel="import" href="{% static "components/iron-form/iron-form.html" %}">
    <link rel="import" href="{% static "components/iron-icon/iron-icon.html" %}">
    <link rel="import" href="{% static "components/iron-icons/hardware-icons.html" %}">
    <link rel="import" href="{% static "components/iron-image/iron-image.html" %}">
    <link rel="import" href="{% static "components/paper-material/paper-material.html" %}">
    <link rel="import" href="{% static "components/paper-card/paper-card.html" %}">
    <link rel="import" href="{% static "components/google-youtube/google-youtube.html" %}">

    <!-- Custom -->
    <link rel="import" href="{% static "components/paper-tabs/paper-tabs.html" %}">
    <link rel="import" href="{% static "components/font-roboto/roboto.html" %}">
    <link rel="import" href="{% static "custom/login-form.html" %}">
    <link rel="import" href="{% static "custom/register-form.html" %}">
    <link rel="import" href="{% static "custom/curso-list.html" %}">
    <link rel="import" href="{% static "custom/curso-card.html" %}">
    <link rel="import" href="{% static "custom/curso-detail.html" %}">
    <link rel="import" href="{% static "custom/curso-turma.html" %}">
    <link rel="import" href="{% static "custom/turma-card.html" %}">
    <link rel="import" href="{% static "custom/turma-detail.html" %}">
    <link rel="import" href="{% static "custom/base-header.html" %}">
    <link rel="import" href="{% static "custom/footer-card.html" %}">
    <link rel="import" href="{% static "custom/you-video.html" %}">
    
  </head>
  <style>
  .foo{
        position: relative;
        bottom: 0;
  }
  </style>

  <body class="fullbleed layout vertical">
    <div class="fit ">
      <paper-header-panel >
          <base-header></base-header>
          <you-video></you-video>
          {% block content%} {% endblock%}
  
          <footer-card class="foo">
              
          </footer-card>
  
      </paper-header-panel>
      
    </div>

  </body>
</html>
