{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="wangaApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title> {% block title %} Wanga Inc{% endblock %}</title>

        <script src="{%static "js/init/jquery.js" %}"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static "js/angular-material/angular-material.min.css" %}">
        <link rel="stylesheet" href="{% static "css/footer-distributed.css" %}">

        <!-- <link rel="stylesheet" href="https://gitcdn.link/repo/angular/bower-material/master/angular-material.css"> -->




    </head>

    <body ng-controller="WangaController as wanga" style="margin:0; padding:0; height:100%;">

        <style>

        .loader {
        	position: fixed;
        	left: 0px;
        	top: 0px;
        	width: 100%;
        	height: 100%;
        	z-index: 9999;
        	background: url("{%static 'image/FlatPreloaders/128x128/Preloader_2/Preloader_2.gif' %}") 50% 50% no-repeat rgb(249,249,249);
        }


        </style>

         <div class="loader"></div>

        <!-- loader for pages
        <div class="loader">
             <md-progress-circular  class=" md-hue-3" md-diameter="90" md-mode='indeterminate'></md-progress-circular>
        </div>  -->

        <!-- end loader -->

        <md-toolbar class="md-menu-bar " >
          <div class="md-toolbar-tools" layout="row">
                <md-button class="md-icon-button" aria-label="Settings" show-xs="true" hide-gt-xs="true" ng-click="toggleNav()">
                    <md-icon >menu</md-icon>
                </md-button>
                <h2>
                    <span> Wanga Inc </span>
                </h2>
                <span flex></span>
                <md-menu md-position-mode="target-right target" md-offset="0 -7" hide="true">
                    <md-button class="md-icon-button" aria-label="Favorite" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin>account_circle</md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button aria-label="Settings"> <span md-menu-align-target> radial radial </span> </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button aria-label="Settings"> <span md-menu-align-target> radial radial </span> </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>

                        <md-menu-item>
                            <md-button aria-label="Settings"> <span md-menu-align-target> radial radial </span> </md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>

                <md-menu md-position-mode="target-right target" md-offset="0 -7">
                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin >info</md-icon>
                    </md-button>

                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button href="/contato" aria-label="Contato"> <span md-menu-align-target> Contato </span> </md-button>
                        </md-menu-item>

                        <md-menu-divider></md-menu-divider>

                        <md-menu-item>
                            <md-button href="/sobre" aria-label="Sobre"> <span md-menu-align-target> Sobre </span> </md-button>
                        </md-menu-item>


                    </md-menu-content>

                </md-menu>

          </div>
          <md-toolbar layout="row" hide-xs="true">
              <md-button href="/" > Home </md-button>
              <md-button href="/agencia" > Agencia </md-button>
              <md-button href="/cursos">Cursos</md-button>
              <md-button href="/estilos">Estilos</md-button>
              <md-button href="http://wangadance.blogspot.com.br/2016/04/wanga-dance-2016_9.html" >Blog</md-button>
              <md-button href="/equipe">Equipe</md-button>

          </md-toolbar>

      </md-toolbar>


        <div flex layout="column">
            <md-sidenav md-component-id="rightnav" md-whiteframe="4" width="4" height="100%"> <!-- xs-is-locked-open="false">  hide-gt-xs="true"> -->
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Menu</h1>
                 </md-toolbar>
                 <md-content>

                     <md-list flex>
                         <a href="/">
                             <md-list-item class="md-1-line"  >
                                 Home
                             </md-list-item>
                         </a>
                         <md-divider ></md-divider>

                         <a href="/agencia">
                             <md-list-item class="md-1-line"  >
                                 Agencia
                             </md-list-item>
                         </a>
                         <md-divider ></md-divider>

                         <a href="/cursos">
                             <md-list-item class="md-1-line"  >
                                 Cursos
                             </md-list-item>
                         </a>
                         <md-divider ></md-divider>

                         <a href="/estilos">
                             <md-list-item class="md-1-line"  >
                                 Estilos
                             </md-list-item>
                         </a>
                         <md-divider ></md-divider>

                         <a href="http://wangadance.blogspot.com.br/2016/04/wanga-dance-2016_9.html">
                             <md-list-item class="md-1-line"  >
                                 Blog
                             </md-list-item>
                         </a>
                         <md-divider ></md-divider>

                         <a href="/equipe">
                             <md-list-item class="md-1-line"  >
                                 Equipe
                             </md-list-item>
                         </a>
                         <md-divider ></md-divider>

                    </md-list>

                 </md-content>
            </md-sidenav>
</div>

        <md-content style="min-height:100%">

                {% block content %}

                {% endblock %}


                <footer class="footer-distributed" style="position: relative; bottom: 0;">

                        <div class="footer-right">

                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>

                        </div>

                        <div class="footer-left">

                            <p class="footer-links">
                                <a href="/">Wanga</a>
                                ·
                                <a href="/agencia">Agencia</a>
                                ·
                                <a href="/cursos">Cursos </a>
                                ·
                                <a href="/estilos">Estilos</a>

                                ·
                                <a href="/contato">Contato</a>
                                ·
                                <a href="/sobre">About</a>
                            </p>

                            <p>Wanga Inc &copy; 2016</p>
                        </div>

                    </footer>

    </md-content>

        <script>
        $(window).load(function() {
                // Animate loader off screen
                $(".loader").fadeOut("slow");;
            });

        </script>

        <link rel="stylesheet" href="{% static "css/estilo.css" %}">


        <!-- Angular files -->
        <script src="{% static "js/angular156/angular.min.js" %}"></script>
        <script src="{% static "js/angular156/angular-resource.min.js" %}"></script>
        <script src="{% static "js/angular156/angular-route.min.js" %}"></script>

        <script src="{% static "js/angular156/angular-messages.min.js" %}"></script>
        <script src="{% static "js/angular156/angular-animate.min.js" %}"></script>
        <script src="{% static "js/angular156/angular-aria.min.js" %}"></script>

        <!-- Angular Material Javascript using GitCDN to load directly from `bower-material/master` -->
        <script src="{% static "js/angular-material/angular-material.min.js" %}"></script>

        <!-- pagination directives -->
        <script src="{%static "js/app/terceiros/paging.js" %}"></script>

        <script src="{%static "js/init/app.js" %}"></script>

    <!--    <script src="{%static "js/init/init.js" %}"></script> -->

        <!-- custum controllers -->
        <script src="{%static "js/app/controllers/WangaController.js" %}"></script>

    </body>

</html>
