{% extends "wanga/base.html" %}

{% load staticfiles %}

{% block content%}

<div flex="70" layout="column" flex-offset="15">

<!-- contanct form -->
    <div flex="50">
        <md-card>
            <md-card-header>

                <md-card-header-text>
                    <span class="md-title"> Contato </span>
                    <span class="md-subhead"></span>
                </md-card-header-text>
            </md-card-header>

            <md-card-content>

                <form name="contactForm" flex action="/semthin/" method="post">
                    {% csrf_token%}

                    <md-input-container class="md-block">
                        <label> Nome </label>
                        <input name="nome" ng-model="nome" required md-maxlength="50" minlength="4">
                        <div ng-messages="contactForm.nome.$error" ng-show="contactForm.nome.$dirty">
                            <div ng-message="required">parte vazio !</div>
                            <div ng-message="md-maxlength">nome muito longo !</div>
                            <div ng-message="minlength">Muito curto !</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label> Sobrenome</label>
                        <input name="sobrenome" ng-model="lastName" required md-maxlength="50" minlength="4">
                        <div ng-messages="contactForm.sobrenome.$error" ng-show="contactForm.sobrenome.$dirty">
                            <div ng-message="required">parte vazio !</div>
                            <div ng-message="md-maxlength">nome muito longo !</div>
                            <div ng-message="minlength">Muito curto !</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label> Assunto </label>
                        <input name="assunto" ng-model="assunto" required md-maxlength="30" minlength="4">
                        <div ng-messages="contactForm.assunto.$error" ng-show="contactForm.assunto.$dirty">
                            <div ng-message="required">parte vazio !</div>
                            <div ng-message="md-maxlength">nome muito longo !</div>
                            <div ng-message="minlength">Muito curto !</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Email</label>
                        <input name="email" ng-model="email" required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                        <div class="hint" ng-show="showHints">How can we reach you?</div>
                        <div ng-messages="contactForm.email.$error" ng-hide="showHints">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                Entrar um email valido.
                            </div>
                        </div>
                    </md-input-container>


                    <md-input-container class="md-block">
                          <label>Mensagem</label>
                          <textarea name="mes" ng-model="mensagem" required ></textarea>
                          <div ng-messages="contactForm.mes.$error" ng-show="contactForm.mes.$dirty">
                              <div ng-message="required">Messagen vazia !</div>

                          </div>
                    </md-input-container>

                    <md-button type="submit" class="md-primary"
                           ng-class="{'md-raised md-hue-1': (contactForm.$dirty && contactForm.$valid) }"
                           aria-label="Save Project">Enviar</md-button>

                  </form>
             </md-card-content>
         </md-card>

     </div>

 </div>

{% endblock%}
