{% extends "wanga/base.html" %}
{% load staticfiles %}

{% block content%}




<!--
    <div class="container-fluid" ng-controller="CursosController as CursosCtrl">
        <div class="row">
            <div class="col-md-12" ng-repeat=" curso in CursosCtrl.cursos">
                {% verbatim %}
                <div class="col-md-6">
                    <div class="panel panel-success">
    				  	<div class="panel-heading">
    				    	<h1 class="panel-title">{{curso.name}}</h1>
    				  	</div>
    				  	<div class="panel-body">
    						<p><strong>Inicio : {{curso.inicio_data | date}}</strong> </p>
                            <p><strong>Fim : {{curso.fim_data | date}}</strong> </p>
    					</div>

                        <div class="panel footer">
                            <button type="button" name="button" class="btn btn-success btn-raised" data-toggle="collapse" data-target="#more" style="margin-left:2rem"> Ver mais</button>
                            <div class="collapse" id="more">
                                <p style="margin-left:2em; margin-right:2em; padding-bottom:2em;" >
                                    {{curso.description}}
                                </p>

                            </div>
                        </div>
    				</div>
                </div>
                {% endverbatim %}

                </div>
                <div class="col-md-4 col-md-offset-5" >

        		    <paging
        			    class="small"
        			    page="currentPage"
        			    page-size="pageSize"
        			    total="CursosCtrl.total"
        			    show-prev-next="true"
        			    show-first-last="true"
        			    text-next-class="glyphicon glyphicon-chevron-right"
        			    text-prev-class="glyphicon glyphicon-chevron-left"
        			    text-first-class="glyphicon glyphicon-backward"
        			    text-last-class="glyphicon glyphicon-forward"
        			    paging-action="VagasCtrl.getData( page, pageSize)">
        			</paging>

		      </div>
            </div>
    </div>
-->
{% endblock%}
