{% extends "wanga/base.html"%}

{% block content %}
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<div class="col-md-4">
					<div class="panel panel-default">

						<div class="panel-body">
							<p >
								Init is one of those programs that are absolutely essential to the operation of a Linux system, but that you still can mostly ignore.
								Init is one of those programs that are absolutely essential to the operation of a Linux system, but that you still can mostly ignore.
							</p>
						</div>
						<div class="panel-footer">
							<div class="footer-right">
				                <a href="#" class="btn"><i class="fa fa-facebook"></i></a>
				                <a href="#"><i class="fa fa-twitter"></i></a>
				                <a href="#"><i class="fa fa-google-plus"></i></a>
				                <a href="#"><i class="fa fa-instagram"></i></a>

				            </div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
{% endblock%}
