{% extends "wanga/base.html"%}
{% load staticfiles %}


{% block content%}

<div class="">

    <div flex>

        <md-card>

	        <img ng-src="{% static "image/image1.jpg" %}" class="md-card-image" alt="">
      	</md-card>

    </div>

    <md-divider ></md-divider>

    <div flex="70" layout="column" flex-offset="15">

        <div flex-xs flex-gt-xs="50">

            <md-card>
                <a href="/estilos/zouk">
                    <md-card-header>

                        <md-card-header-text>
                            <span class="md-title">Zouk</span>
                            <span class="md-subhead"></span>
                        </md-card-header-text>
                    </md-card-header>
                </a>
                <md-divider ></md-divider>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">O que é Zouk ?</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>

                <md-card-actions layout="column" layout-align="start">
                    <md-button href="/estilos/zouk">Detalhes</md-button>

                </md-card-actions>

            </md-card>

            <md-card>
                <a href="/estilos/kizomba">
                    <md-card-header>

                        <md-card-header-text>
                            <span class="md-title">Kizomba</span>
                            <span class="md-subhead"></span>
                        </md-card-header-text>
                    </md-card-header>
                </a>
                <md-divider ></md-divider>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">O que é Kizomba ?</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                        two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                    </p>
                </md-card-content>

                <md-card-actions layout="column" layout-align="start">
                    <md-button href="/estilos/kizomba">Detalhes</md-button>

                </md-card-actions>

            </md-card>

    	</div>

    </div>

</div>

{% endblock %}
