{% extends "wanga/base.html"%}
{% load staticfiles %}
{% block content %}
	<div class="container-fluid ">
		<div class="row">
			<div class="col-md-7">

				<div class="jumbotron" style="">
				 	<div class="page-header">
						<h1>Bemvindo na Wanga<small> <br> Sua vida com muito mais curtição</small></h1>
					</div>

				 	<p>
						A Wanga events Entertainment, é uma agencia de evento cuja missão é difundir e popularizar a dança na cidade de Porto Alegre.Com um quadro de profissionais altamente qualificados, trabalhamos na promoção de aulas, criação de cursos de dança, workshop e festas onde todos possam se divertir e aprender cada vez mais técnicas, fazer novas amizades e conhecer novas culturas. Apoiamos todos os talentos e ajudamos as pessoas a desenvolver suas habilidades oferecendo a eles diversos ferramentas e acompanhando todo seu processo de aprendizagem oferecendo ferramentas necessárias para seu crescimento. Assim podem se descobrir melhor e realizar seus sonhos com mais desejados.
					</p>

				</div>

				<div class="jumbotron">
				 	<div class="page-header">
						<h2>Nossa ideia</h2>
					</div>

				 	<p>Na wanga acreditamos na capacidade e de cada um para atingir os seus objetivos. Para isso oferecemos aulas de danças de diferentes ritmos e níveis assim como um programa para quem quer seguir como profissional:</p>
					<ul>
						<li>
							<h3>Dance in time:</h3> <p>é um programa de aulas de dança voltado para pessoas que querem experimentar algum estilo de dança. O dance in time reúne estilos como: zouk, salsa, bachata, kizomba, maxixe, pagode, samba. Estas aulas tem uma carga horária definida e o aluno pode se inscrever em uma ou mais modalidades naquele período de tempo. </p>
						</li>
						<li>
							<h3>Wanga Team Dancers:</h3> <p>Estritamente voltado para pessoas que desejam ser nossos monitores, ou fazer parte da nossa equipe.</p>
						</li>
					</ul>

				</div>


				<div class="jumbotron">
				 	<div class="page-header">
						<h2>O Idealizador</h2>
					</div>

				 	<p>
						A Wanga events Entertainment nasceu da ideia do <strong class="text-success">Steeve Pierre Zephir</strong> administrador e professor de dança de salão em Porto Alegre. O objetivo principal é criar mais opções de entretenimento para quem vive na capital gaúcha. Mas também levar a dança para todas as pessoas que desejam aprender esta arte. Investir em jovens profissionais que querem seguir no ramo, ensinando as melhoras técnicas para o crescimento deles e torna o ensino da dança mais divertido, rentável e prazeroso.
					</p>
					<p> <strong><i>
						Agencia de eventos <br>
						Alimente sua vida com a magia da dança.
						</i></strong>
					</p>

				</div>


			</div>

			<div class="col-md-5">
				<div class="panel panel-primary">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">Panel primary</h3>
				  	</div>
				  	<div class="panel-body">
						<div class="media">
							<img src="{% static "image/image1.jpg" %}" class="img-thumbnail">
						</div>
					</div>
				</div>

				<div class="panel panel-success">
				  	<div class="panel-heading">
				    	<h1 class="panel-title">Panel primary</h1>
				  	</div>
				  	<div class="panel-body">
						<div class="media">
							<img src="{% static "image/image2.jpg" %}" class="img-thumbnail">
						</div>
					</div>
				</div>

				<div class="panel panel-warning">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">Panel primary</h3>
				  	</div>
				  	<div class="panel-body">
						<div class="media">
							<img src="{% static "image/image3.jpg" %}" class="img-thumbnail">
						</div>
					</div>
				</div>


			</div>


			<div class="col-md-12">

				<div class="col-md-8 col-md-offset-2" >
					<div class="col-md-4 col-md-offset-4" >
						<h2 style="position:relative;">Novidades</h2>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">

						<div class="col-md-4">
							<div class="panel panel-default">
							  	<div class="panel-heading">
							    	<h2 >Noite +</h2>
							  	</div>
							  	<div class="panel-body">
									<div class="media">
										<img src="{% static "image/image3.jpg" %}" class="img-thumbnail">
									</div>
								</div>
								<div class="panel-footer">
									<p >
										Init is one of those programs that are absolutely essential to the operation of a Linux system, but that you still can mostly ignore.
										Init is one of those programs that are absolutely essential to the operation of a Linux system, but that you still can mostly ignore.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="panel panel-default">
							  	<div class="panel-heading">
							    	<h2>Noite +</h2>
							  	</div>
							  	<div class="panel-body">
									<div class="media">
										<img src="{% static "image/image3.jpg" %}" class="img-thumbnail">
									</div>
								</div>
								<div class="panel-footer">
									<p >
										Init is one of those programs that are absolutely essential to the operation of a Linux system, but that you still can mostly ignore.
										Init is one of those programs that are absolutely essential to the operation of a Linux system, but that you still can mostly ignore.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="panel panel-default">
							  	<div class="panel-heading">
							    	<h2>Noite +</h2>
							  	</div>
							  	<div class="panel-body">
									<div class="media">
										<img src="{% static "image/image3.jpg" %}" class="img-thumbnail">
									</div>
								</div>
								<div class="panel-footer">
									<p >
										Init is one of those programs that are absolutely essential to the operation of a Linux system, but that you still can mostly ignore.
										Init is one of those programs that are absolutely essential to the operation of a Linux system, but that you still can mostly ignore.
									</p>
								</div>
							</div>
						</div>

				</div>
			</div>

		</div>
	</div>
</div>


{% endblock %}
