{% extends "wanga/base.html" %}

{% load staticfiles %}

    
<script >
    $(document).ready(function() {
    $(".fancybox-button").fancybox({
        prevEffect      : 'none',
        nextEffect      : 'none',
        closeBtn        : false,
        helpers     : {
            title   : { type : 'inside' },
            buttons : {}
        }
    });
});

</script>

{% block content%}

<div class="container">
    <div class="row">
        {%if photos%}
        {%for img in photos%}
            <div class="col-lg-3 col-md-4 col-xs-4 thumb">
                <div class="thumbnail">
                    <a class="fancybox" href= "{{MEDIA_URL}}{{img}}"   title="cold forest (picturesbywalther)">
                    <img  src= "{{MEDIA_URL}}{{img}}"  alt="..."> </a>
                </div>
            </div>
            
        {%endfor%}
    {%else%}
        <p>No image here</p>  
    {%endif%}

    </div>
</div>

   
<script >
    $(document).ready(function(){
    $(".fancybox")
    .attr('rel', 'gallery')
    .fancybox({
        padding : 0
    });
});

</script>


{% endblock %}
